.client-testimonials--theme-one {

	.client-testimonial {
		background-color: #f7f7f7;
		padding: 30px;

		&__author {
			order: 1;
		}

		&__avatar {
		}

		&__avatar-thumb,
		&__avatar-placeholder {
		}

		&__avatar-thumb {

		}

		&__avatar-placeholder {

		}

		&__vcard {
		}

		&__client-name {

		}

		&__client-company {

		}

		&__content {
			flex: 1 0 auto;
			margin-bottom: 30px;
			order: 0;
			max-width: 100%;
		}

		&__message {
		}
	}
}