.client-testimonials {
	margin: 1rem 0;
}

.client-testimonials--theme-two {

	.client-testimonial {
		position: relative;

		&__avatar {
			border-radius: 500px;
			width: 60px;
			height: 60px;
			position: relative;
			margin-left: auto;
			margin-right: auto;

			img {
				border-radius: 500px;
				max-width: 60px;
				height: auto;
			}

			.client-testimonial__avatar-placeholder {
				border: 1px solid rgba(51, 51, 51, 0.12);
				border-radius: 500px;
				display: block;
				line-height: 0;

				svg {
					fill: rgba(51, 51, 51, 0.12);
					transform: scale(.5);
					max-width: 100%;
					height: auto;
				}
			}
		}

		&__content {
			background: #fff;
			border-radius: 4px;
			box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
			margin: 2px;
			position: relative;

			&:after,
			&:before {
				border: solid transparent;
				content: "";
				height: 0;
				left: 50%;
				pointer-events: none;
				position: absolute;
				top: 100%;
				width: 0;
			}

			&:after {
				border-top-color: #fff;
				margin-left: -15px;
				border-width: 15px;
			}

			&:before {
				border-top-color: rgba(#000, .2);
				margin-left: -17px;
				border-width: 17px;
			}
		}

		&__message {
			padding: 25px;

			p {
				&:first-child {
					margin-top: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&__client-info {
			margin-top: 20px;
			text-align: center;
		}

		&__client-name {
			// line-height: 20px;
		}

		&__client-company {
			font-size: 13px;
		}
	}
}
